
ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.details {
  margin: 50px auto;
  width: 990px;
}

.deck {
  background-color: rgb(121, 118, 118);
  border-radius: 5px;
  display: flex;
}

.card {
  width: 300px;
  height: 300px;
  margin: 30px;
  background-color: #282c34;
}

.board {
  margin-top: 50px;
}

.board p {
  font-weight: 600;
}

.textBoard {
  background-color: #303339 ;
  color: #fefefe;
  padding: 50px;
}

.two-cols {
  display: flex;
  justify-content: space-around;
}

.two-cols h2, .two-cols p {
  padding: 10px;
}

/* Triggered Event Styles */

.board-trigger {
  align-items: center;
  justify-content: center;
  height: 500px;
  place-items: center;
  overflow: hidden;
}

.container {
  text-align: center;
  display: grid;
  place-items: center;
  height: 400px;
  background-color: rgb(121, 118, 118);
}

.board-trigger p {
  text-align: left;
}

.box-trigger {
  width: 300px;
  height: 300px;
  background-color: #282c34;
}

.trigger_btn {
  background-color: #282c34;
  color: #fefefe;
  border: none;
  padding: 10px 25px;
  font-size: 1.2rem;
  cursor: pointer;
}

.button-container {
  text-align: center;
  bottom: 0;
  position: relative;
}